Source: llvm-pex-future
Section: devel
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 9),
 libc6-dev-i386,
 libc6-dev-x32,
 libc6-dbg,
 binutils,
 m4,
 libtool,
 gawk,
 lzma,
 xz-utils,
 patchutils,
 libzstd-dev,
 zlib1g-dev,
 gperf (>= 3.0.1),
 bison (>= 1:2.3),
 flex,
 gettext,
 gdb:native,
 texinfo (>= 4.3),
 locales-all,
 sharutils,
 procps,
 libmpc-dev (>= 1.0),
 libmpfr-dev (>= 3.0.0-9~),
 libgmp-dev (>= 2:5.0.1~),
 python2.7,
 ninja-build,
 rename,
 cmake
Vcs-Browser: https://github.com/pexip/os-llvm-pex-future/
Vcs-Git: https://github.com/pexip/os-llvm-pex-future.git

Package: llvm-pex-future
Architecture: amd64
Depends: ${misc:Depends},
 gcc-multilib,
 lib32stdc++6,
 libc6,
 libgcc1,
 lib32gcc1,
Description: Simple packaged version of a future llvm
 Simple packaged version of a future llvm version to live in
 /opt/llvm-future, ready for us to use with CI in older releases.
